{
  "extends": "eslint-config-streamr-ts",
  "plugins": [
    "chai-friendly"
  ],
  "env": {
    "es2021": true,
    "node": true,
    "mocha": true
  },
  "globals": {
    // mocha
    "describe": "readonly",
    "it": "readonly",
    "before": "readonly",
    "beforeEach": "readonly",
    "after": "readonly",
    "afterEach": "readonly"
  }
}
