---
name: Dependency
# on:
#   - pull_request

# TODO: temporarily disable the dependency review, please put back on before 1.0
on:
  pull_request:
    branches:
      - lol

permissions:
  contents: read

jobs:
  dependency-review:
    name: Review
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Dependency Review
        uses: actions/dependency-review-action@v4
